/*-----------------------
* Site:  variable
* Author: 7*
* Updated: 2020-11-05 15:48
* Version: 1.0.0
* -----------------------*/
@charset "UTF-8";
.hover-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  .hover-up:hover {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }

.block-shadow-primary:hover {
  -webkit-box-shadow: 0 10px 20px rgba(255, 225, 0, 0.3);
          box-shadow: 0 10px 20px rgba(255, 225, 0, 0.3); }

.color-primary {
  color: #ffe100; }

.bg-gray {
  background-color: #f5f5f5; }

.bold {
  font-weight: bold; }

.fn-hide {
  display: none !important; }

.fn-show {
  display: block !important; }

/* 清理浮动 */
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.fn-clear {
  zoom: 1;
  /* for IE6 IE7 */ }

.fn-left {
  float: left; }

.fn-right {
  float: right; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* 人民币符号 */
.fn-rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px; }

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
  -webkit-text-size-adjust: none; }

/*----7*--2015.11.20-update----*/
.fn-overflow {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.fn-text-left {
  text-align: left; }

.fn-text-center {
  text-align: center; }

.fn-text-right {
  text-align: right; }

.fn-block {
  display: block; }

.red {
  color: #bd0505; }

.gray {
  background-color: #f6f6f6; }

.ml10 {
  margin-left: 10px; }

.mr20 {
  margin-right: 20px; }

.mr14 {
  margin-right: 14px; }

.fn-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.fn-fade-up {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translateY(50px);
  opacity: 0; }

.fn-fade-up.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); }

.fn-delay-04 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.fn-delay-55 {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s; }

.radius-5 {
  border-radius: 5px; }

.show-round {
  border-radius: 50%; }

.ml-20 {
  margin-left: 20px; }

.transition-02, .hover-up {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.transition-35 {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.transition-05 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.transition-1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
